
<% provide(:title, "Reset password") %>
<div class="text-center" style="padding:50px 15">
  <h4>Create new password here, bro!</h4></br>
  <div class="logo"></div>
  <div class="login-form-1">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= hidden_field_tag :email, @user.email %>
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
            <%= f.label :password, class: "sr-only" %>
            <%= f.password_field :password, class: 'form-control', placeholder: "enter new pw here" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, class: "sr-only" %>
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "and again..." %>
          </div>
        </div>
      </div>
      </br>
      <%= f.submit "Tap here to send", class: "btn btn-info" %>
    <% end %>
  </div>
</div>
