<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="people-nearby">
              
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <% if user.avatar? %>
                    <%= image_tag user.avatar.url(:thumb), class: "profile-photo-lg", alt: "user" %>
                    <% else %>
                      <img src="/assets/default_avatar.jpg" class="profile-photo-lg">
                    <% end %>
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h4><%= link_to user.name, user %></h4>
                    <b><%= "Mood: #{user.user_info}" if user.user_info %></b>
                    <%= link_to "Chat"%>
                    <% if current_user.admin? && !current_user?(user) %>
                    <h6>
                      <%= link_to "delete profile", user, method: :delete, class: "text-muted", data: { confirm: "You sure?" } %>
                      <% end %>
                    </h6>
                  </div>
                  <div class="col-md-3 col-sm-3">
                     <%= render 'follow_form', user: user %>
                  </div>
                </div>
              </div>

            </div>
      </div>
  </div>
</div>
