<% provide(:title, "Sign up") %>
<div class="text-center" style="padding:50px 15">
    <h4>Sign up, bro!</h4>
    <div class="logo"></div></br>
    <div class="login-form-1">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <%= f.label :name, class: "sr-only" %>
                        <%= f.text_field :name, class: 'form-control', placeholder: "bro-name" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :email, class: "sr-only"  %>
                        <%= f.email_field :email, class: 'form-control', placeholder: "bro-mail:" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :password, class: "sr-only"%>
                        <%= f.password_field :password, class: 'form-control', placeholder: "password:" %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.label :password_confirmation, "Confirmation", class: "sr-only" %>
                        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "pass confirm:" %>
                    </div>
                    
                    <div class="form-check">
                        <%= f.check_box :checkbox, id: 'session_remember_me' %>
                        <%= f.label :session_remember_me, "Want to become a bro!" %>
                    </div>
                </div>
                </br>
                </br>
                <%= f.submit "Become a bro!", class: "btn btn-info" %>
            </div>
            <div class="etc-login-form"></br>
                <p>Already bro?? <%= link_to "Login here", login_path %></p>
            </div>
        <% end %>
    </div>
</div>
