
<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url(:thumb), class: "profile-photo-lg"  %>
        <% else %>
          <img src="/assets/default_avatar.jpg" class="profile-photo-lg">
        <% end %>
        <%= @user.name %>
      </h1>
      <b><%= @user.user_info if @user.user_info %></b>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="stats">
      <%= render 'follow_form', user: @user %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h4>You have <%= @user.microposts.count %> posts:</h4>
      <ol class="microposts">
        <%= render @microposts %>
     </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>